@media only screen and (max-width:768px) {
#menu {
        display: inline-block;
        float: left;
    }
.row-2 {padding-left: 10px;}
.menuleft {padding-left: 5px;}
.menuleft .row-1 li, .menuright .row1 li {
    font-size: 15px; 
    padding: 2px; 
    margin:0px;
}
/*location*/
.content {
    position: unset;
    width: 100%;
    padding: 0 30px 30px 30px;
    text-align: center;}
.text-pic {
        position: unset;
        transform: none;
        font-family:'Oswald', sans-serif; 
        font-weight: lighter;
    }
.text-pic a {
    font-size:25px;
    color: black;
}


}