.register-form-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 650px;
  background-color: #fff;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background-color: rgb(199, 208, 208);
    border-radius: 5px;
    width: 1px;
  }
  h1 {
    margin: 0;
  }
  .register-form {
    padding-top: 0 !important;
    .register-items {
      line-height: 1;
      margin-bottom: 1.5rem;
    }
  }
}
@media screen and (max-width: 600px) {
  .register-form-container {
    width: 95vw;
  }
}
