$kit-color: rgb(0, 89, 255);
.user-kit-container {
  margin: 0.2rem 1rem;
  .user-kit-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    .kit-items {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      i {
        color: white;
      }
      p {
        margin: 0;
        color: white;
        font-size: small;
        font-family: "Inter";
      }
      &:hover {
        p,
        i {
          color: $kit-color;
        }
      }
    }
  }
}
.meet-chat-container {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  .meet-chat-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    border-radius: 0.8rem;
    cursor: pointer;
    border: none;
    padding: 0.2rem 0.5rem;
    &:hover {
      background-color: $kit-color;
      color: white;
    }
    i {
      margin-right: 3px;
    }
  }
}
