@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Oswald:wght@500&family=Roboto+Condensed:ital@0;1&family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap");

$base-color: #ee4d2d;

.nav-menu {
  justify-content: space-between;
  padding: 0.2rem 1rem;
  align-items: center;
  background-color: $base-color;
  @media screen and (max-width: 800px) {
    .nav-items {
      padding-bottom: 0.5rem;
    }
    .nav-items li {
      padding-left: 0 !important;
    }
  }
  ul {
    background-color: $base-color;
    border-bottom: none;
    li a {
      font-family: "Roboto Condensed", sans-serif;
      color: rgb(232, 225, 225) !important;
      font-size: 1rem;
    }
  }
}

#nav-menu-left {
  flex: content;
}
#form-btn {
  flex: none;
  button {
    font-family: "Roboto";
    font-weight: 400;
    border-radius: 0.4rem;
    border: none;
  }
}
.user-login-container {
  display: flex;
  align-items: center;
  .user {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 0.5rem;
    h3 {
      font-family: "Roboto";
      color: white;
      margin-bottom: 0;
      padding: 3px;
    }
  }

  .log-out_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
    padding: 0.3rem 15px;
    background-color: #aa250b;
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
}
