.cart-container {
  margin: 3rem;
  position: relative;

  .item-container {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(127, 101, 101);
    margin: 2vh;
    padding-bottom: 0.5rem;
    .item_detail {
      font-family: "Roboto";
      margin-left: 1rem;
      .change_quantity_btn {
        cursor: pointer;
        border: none;
        border-radius: 2px;
        background-color: rgb(149, 172, 149);
        margin: 0 2vw;
      }
    }
    .delete_product_btn {
      cursor: pointer;
      border: none;
      background-color: red;
      color: white;
      border-radius: 5px;
    }
    .delete_product_btn:hover {
      opacity: 0.8;
    }
  }

  .total-products {
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto";
  }
  .btn_payment_container {
    display: flex;
    justify-content: flex-end;
    button {
      cursor: pointer;
      border: none;
      border-radius: 0.3rem;
      background-color: orange;
      padding: 0.5vh 1vw;
    }
    button:hover {
      opacity: 0.8;
    }
  }
}

.item-img-container {
  display: flex !important;
  justify-content: center;
  img {
    width: 100%;
  }
}

.Empty-cart {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .img_container_cart {
    img {
      width: 80%;
    }
  }
}
