.login-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: #fff;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
  .login-by-google-account {
    width: calc(100% - 2rem);

    .log-google-acc-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: rgb(31, 88, 222);
      padding: 0.5rem 0;
      color: white;
      margin-bottom: 0.5rem;
      &:hover {
        opacity: 0.9;
      }
      i {
        font-size: 2rem;
        margin-right: 0.5rem;
        color: rgb(219, 226, 231);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .login-container {
    width: 90vw;
    height: 60vh;
  }
}
.backdrop {
  position: relative;
}
.header-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
  p,
  h1 {
    margin: 0;
    background: -webkit-linear-gradient(0deg, #b240b2 0%, #115c64 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.form-control {
  width: 100%;
  padding: 2rem 1rem 1rem 1rem !important;
  margin-top: 0.5rem !important;
  .login-btn {
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 0.5rem 0;
    background-color: #ba80cc;
    border-radius: 5px;
    margin-top: 1rem;
    color: #fff;
    &:hover {
      opacity: 0.9;
    }
  }
  label {
    font-weight: 500;
  }
  label::before {
    display: none !important;
  }
}
