#btn:hover {
  background-color: rgb(206, 68, 23);
  color: azure;
}

.google-login-btn {
  background-color: rgb(9, 79, 137);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.google-login-btn:hover {
  opacity: 0.8;
}
.sign-up-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
  p {
    margin: 0;
  }
}
.option-login-container {
  display: flex;
  justify-content: center;
}
