.contact-user-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1rem 1rem 1rem;
  background-color: white;
  overflow-y: scroll;
  height: 50vh;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: aliceblue;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #67808074;
  }

  .contact-container {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    padding-left: 0.5rem;
    &:hover {
      background-color: aliceblue;
      cursor: pointer;
    }
    h3,
    p {
      margin: 0;
      margin-left: 0.8vw;
    }
    .avatar-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
    }
  }
}
